* {
    font-size: 22px;
    font-family: arial;
    margin: auto 0;
    box-sizing: border-box;
}

#warrper {
    background-image: url("../images/tile.jpg");
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#main_tilte {
    font-family: 'Indie Flower', cursive;
    font-size: 3.2rem;
    margin-top: 2.5%;
    margin-bottom: 2%;
    text-shadow: -4px 4px 4px rgba(255, 255, 255, 0.9);
}

.task_label {
    margin-top: 2%;
    font-weight: 600;
    background-color: rgba(255, 240, 35, 0.712);
}

.the_task_form {
    background-image: url("../images/formbg.jpg");
    margin-bottom: 0px;
}

.btn {
    font-family: 'Shadows Into Light', cursive;
}

.noted {
    background-image: url("../images/notebg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.forlastNote {
    animation: note_show 1.5s;
}

@keyframes note_show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#delet_button {
    margin-top: 6%;
    border-style: none;
    background-color: rgba(0, 0, 0, 1%);
    height: 26px;
}

#delete_icon {
    display: none;
    opacity: 0.5;
    transition: ease 0.7s;
}

#delete_icon:hover {
    opacity: 1;
}

.noted:hover #delete_icon {
    display: inline;
}

#Task {
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 40ch;
    word-wrap: break-word;
    resize: none;
}

#for_time {
    padding-top: 10px;
}

.time_form {
    width: 50%;
}

.task_note {
    height: 200px;
    overflow-y: auto;
    max-width: 90%;
    word-wrap: break-word;
    color: rgb(255, 100, 0);
    font-size: 1.1em;
    margin-bottom: 5%;
}

.task_time {
    font-size: 0.8rem;
}

.required {
    color: red;
    font-size: 0.8rem;
}